extends /layouts/main.pug

block variables
  -const header = 'Что посмотреть в Ужуписе?';
  -const page = 'uzupio';

block meta
  +meta(title=header
        description="Интерактивный путеводитель по интересным местам Ужуписа — самопровозглашённой республики художников, музыкантов и поэтов в Вильнюсе."
        og-image='/images/2019-01-21-uzupio/poster.png')

append stylesheets
  link(rel='stylesheet' href=assetPath('/assets/uzupio.css'))

append javascripts
  script(src=assetPath('/assets/uzupio.js'))

block content
  .app
  .pswp(tabindex='-1' role='dialog' aria-hidden='true')
    .pswp__bg
    .pswp__scroll-wrap
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          .pswp__counter
        button.pswp__button.pswp__button--close(title='Закрыть')
        button.pswp__button.pswp__button--fs(title='На весь экран')
        button.pswp__button.pswp__button--zoom(title='Увеличить или уменьшить')

        .pswp__preloader
          .pswp__preloader__icn
            .pswp__preloader__cut
              .pswp__preloader__donut

        button.pswp__button.pswp__button--arrow--left(title='Предыдущее фото')
        button.pswp__button.pswp__button--arrow--right(title='Следующее фото')

        .pswp__caption
          .pswp__caption__center
