extends /layouts/main.pug

block variables
  -const header = 'Что посмотреть в Ужуписе?';
  -const page = 'uzupio';

block meta
  +meta(title=header
        description="Интерактивный путеводитель по интересным местам Ужуписа — самопровозглашённой республики художников, музыкантов и поэтов в Вильнюсе."
        og-image='/images/2019-01-30-uzupio/poster.png')

append stylesheets
  link(rel='stylesheet' href=assetPath('/assets/uzupio.css'))

append javascripts
  script(src=assetPath('/assets/uzupio.js'))

block content
  .app
  include /partials/photoswipe.pug
